<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AssetStatusInfo.AllSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="AssetStatusInfo.query" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="AssetStatusInfo.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AssetStatusInfo.AllSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <AssetStatusInfo.AllSettings>
            <setting name="stockQueryRoot" serializeAs="String">
                <value>'n/a' AS IMEI, uname, TimeReceived, Amount, AmountAtADC, CC.ItemDescription, T.CustomerPurchaseOrder, TicketNumber, location, C.SerialNumber, AssetTag, 'n/a' as Found FROM History AS H JOIN Ticket AS T ON H.CustomerPurchaseOrder = T.CustomerPurchaseOrder JOIN CDWCommon AS C ON C.CustomerPurchaseOrder = H.CustomerPurchaseOrder AND C.InvoiceLine = H.InvoiceLine AND C.SerialNumber = H.SerialNumber AND C.InvoiceNbr = H.InvoiceNbr  JOIN CDWClassification AS CC ON C.EDC = CC.EDC JOIN type AS TY ON TY.ManufacturerPartNumber = CC.ManufacturerPartNumber WHERE AmountAtADC &gt; 0 AND TY.stockItem=1 AND (location LIKE '</value>
            </setting>
            <setting name="nonStockQuery" serializeAs="String">
                <value>SELECT 'n/a' AS IMEI, uname, TimeReceived, Amount, AmountAtADC, CC.ItemDescription, T.CustomerPurchaseOrder, TicketNumber, location, H.SerialNumber, C.AssetTag, 'n/a' as Found FROM CDWCommon AS C JOIN History AS H ON C.CustomerPurchaseOrder = H.CustomerPurchaseOrder AND C.InvoiceLine = H.InvoiceLine AND C.SerialNumber = H.SerialNumber AND C.InvoiceNbr = H.InvoiceNbr JOIN Ticket AS T ON H.CustomerPurchaseOrder = T.CustomerPurchaseOrder JOIN CDWClassification AS CC ON CC.EDC = C.EDC JOIN type AS TY ON TY.ManufacturerPartNumber = CC.ManufacturerPartNumber WHERE AmountAtADC &gt; 0 AND TY.stockItem=0 AND (location LIKE '</value>
            </setting>
            <setting name="phoneQuery" serializeAs="String">
                <value>SELECT IMEI, uname, TimeReceived, '1' AS Amount, '1' AS AmountAtADC, SerialNumber, AssetTag, model AS ItemDescription, 'N/A' AS CustomerPurchaseOrder, TicketNumber, location, 'n/a' as Found FROM PhoneHistory WHERE (sent = 0 OR sent IS NULL) AND (location LIKE ';</value>
            </setting>
            <setting name="locationQuery" serializeAs="String">
                <value>SELECT location FROM siteMaster WHERE location !='465'</value>
            </setting>
            <setting name="connectionString" serializeAs="String">
                <value>Data Source=covte581;Initial Catalog=ISSReceiving;Integrated Security=true;TrustServerCertificate=true</value>
            </setting>
            <setting name="GetsStockItems" serializeAs="String">
                <value>MMC|%</value>
            </setting>
            <setting name="CantBeDeliveredTo" serializeAs="String">
                <value>Warehouse|All Sites|%</value>
            </setting>
            <setting name="NonSearchableFields" serializeAs="String">
                <value>TimeReceived|Total|Needed|Found|Site|Amount|AmountAtADC</value>
            </setting>
            <setting name="ColumnFriendlyNameMapping" serializeAs="String">
                <value>Amount, Total|AmountAtADC, Needed|ItemDescription, Description|CustomerPurchaseOrder, PO|TicketNumber, Ticket|Location, Site|location, Site|SerialNumber, Serial|AssetTag, Tag|Found, Found|Type, Type|IMEI, IMEI|TimeReceived, TimeReceived|ticketTech,Ticket Tech|InvoiceDate, Invoice Date|OrderDate, Order Date</value>
            </setting>
            <setting name="AmountFieldName" serializeAs="String">
                <value>AmountAtADC</value>
            </setting>
            <setting name="CompoundLocationList" serializeAs="String">
                <value>465|475</value>
            </setting>
            <setting name="unreceivedQuery" serializeAs="String">
                <value>SELECT CC.ItemDescription, T.CustomerPurchaseOrder, TicketNumber, InvoiceDate, OrderDate, C.SerialNumber, AssetTag FROM CDWCommon AS C LEFT OUTER JOIN History AS H ON C.CustomerPurchaseOrder = H.CustomerPurchaseOrder AND C.InvoiceLine = H.InvoiceLine AND C.SerialNumber = H.SerialNumber AND C.InvoiceNbr = H.InvoiceNbr JOIN Ticket AS T ON C.CustomerPurchaseOrder = T.CustomerPurchaseOrder JOIN CDWClassification AS CC ON C.EDC = CC.EDC JOIN type AS TY ON TY.ManufacturerPartNumber = CC.ManufacturerPartNumber JOIN CDWOther AS CO ON C.CustomerPurchaseOrder =  CO.CustomerPurchaseOrder AND C.InvoiceLine =  CO.InvoiceLine AND C.SerialNumber =  CO.SerialNumber AND C.InvoiceNbr =  CO.InvoiceNbr WHERE H.TimeReceived IS NULL AND InvoiceDate &gt; '08/19/2024'</value>
            </setting>
        </AssetStatusInfo.AllSettings>
        <AssetStatusInfo.Settings>
            <setting name="taggedRoot" serializeAs="String">
                <value>'n/a' AS IMEI, uname, TimeReceived, Amount, AmountAtADC, CC.ItemDescription, T.CustomerPurchaseOrder, TicketNumber, location, C.SerialNumber, AssetTag, 'n/a' as Found FROM History AS H JOIN Ticket AS T ON H.CustomerPurchaseOrder = T.CustomerPurchaseOrder JOIN CDWCommon AS C ON H.SerialNumber = C.SerialNumber JOIN CDWClassification AS CC ON C.EDC = CC.EDC WHERE AmountAtADC &gt; 0 AND H.SerialNumber != 'n/a' AND location LIKE</value>
            </setting>
            <setting name="nonTagged" serializeAs="String">
                <value>SELECT 'n/a' AS IMEI, uname, TimeReceived, Amount, AmountAtADC, CC.ItemDescription, T.CustomerPurchaseOrder, TicketNumber, location, H.SerialNumber, 'n/a' AS AssetTag, 'n/a' as Found FROM CDWCommon AS C JOIN History AS H ON C.CustomerPurchaseOrder = H.CustomerPurchaseOrder AND C.InvoiceLine = H.InvoiceLine AND C.SerialNumber = H.SerialNumber AND C.InvoiceNbr = H.InvoiceNbr JOIN Ticket AS T ON H.CustomerPurchaseOrder = T.CustomerPurchaseOrder JOIN CDWClassification AS CC ON CC.EDC = C.EDC JOIN type AS TY ON TY.ManufacturerPartNumber = C.ManufacturerPartNumber WHERE AmountAtADC &gt; 0 AND TY.Type = 3 AND location LIKE '</value>
            </setting>
            <setting name="phones" serializeAs="String">
                <value>SELECT IMEI, uname, TimeReceived, '1' AS Amount, '1' AS AmountAtADC, SerialNumber, AssetTag, model AS ItemDescription, 'N/A' AS CustomerPurchaseOrder, TicketNumber, location, 'n/a' as Found FROM PhoneHistory WHERE (sent = 0 OR sent IS NULL) AND location LIKE ';</value>
            </setting>
            <setting name="locationQuery" serializeAs="String">
                <value>SELECT location FROM siteMaster WHERE location != '465'</value>
            </setting>
            <setting name="connectionString" serializeAs="String">
                <value>Data Source=covte581;Initial Catalog=ISSReceiving;Integrated Security=true;TrustServerCertificate=true</value>
            </setting>
        </AssetStatusInfo.Settings>
    </applicationSettings>
    <userSettings>
        <AssetStatusInfo.AllSettings>
            <setting name="ColumnFriendlyNameMappingHistory" serializeAs="String">
                <value>Amount, # Rec'd|AmountAtADC, # at ADC|ItemDescription, Description|CustomerPurchaseOrder, PO|TicketNumber, Ticket|Location, Site|location, Site|SerialNumber, Serial|AssetTag, Tag|Found, Found|Type, Type|IMEI, IMEI|TimeReceived, TimeReceived|ticketTech,Ticket Tech|InvoiceDate, Invoice Date|OrderDate, Order Date</value>
            </setting>
        </AssetStatusInfo.AllSettings>
    </userSettings>
</configuration>