<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AssetStatusInfo.AllSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="AssetStatusInfo.query" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="AssetStatusInfo.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AssetStatusInfo.AllSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <AssetStatusInfo.AllSettings>
            <setting name="stockQueryRoot" serializeAs="String">
                <value>//query excluding select ending with locationFieldName='</value>
            </setting>
            <setting name="nonStockQuery" serializeAs="String">
                <value>//query ending with locationFieldName='</value>
            </setting>
            <setting name="phoneQuery" serializeAs="String">
                <value>//query ending with locationFieldName='='</value>
            </setting>
            <setting name="locationQuery" serializeAs="String">
                <value>//query returning 1 column</value>
            </setting>
            <setting name="connectionString" serializeAs="String">
                <value>//SqlConnection connectionName = new SqlConnection(connectionString);</value>
            </setting>
        </AssetStatusInfo.AllSettings>
        <AssetStatusInfo.query>
            <setting name="taggedQueryRoot" serializeAs="String">
                <value>'n/a' AS IMEI, uname, TimeReceived, Amount, AmountAtADC, CC.ItemDescription, T.CustomerPurchaseOrder, TicketNumber, location, C.SerialNumber, AssetTag, 'n/a' as Found FROM History AS H JOIN Ticket AS T ON H.CustomerPurchaseOrder = T.CustomerPurchaseOrder JOIN CDWCommon AS C ON H.SerialNumber = C.SerialNumber JOIN CDWClassification AS CC ON C.EDC = CC.EDC WHERE AmountAtADC &gt; 0 AND H.SerialNumber != 'n/a' AND location LIKE</value>
            </setting>
            <setting name="nonTaggedQuery" serializeAs="String">
                <value>SELECT 'n/a' AS IMEI, uname, TimeReceived, Amount, AmountAtADC, CC.ItemDescription, T.CustomerPurchaseOrder, TicketNumber, location, H.SerialNumber, 'n/a' AS AssetTag, 'n/a' as Found FROM CDWCommon AS C JOIN History AS H ON C.CustomerPurchaseOrder = H.CustomerPurchaseOrder AND C.InvoiceLine = H.InvoiceLine AND C.SerialNumber = H.SerialNumber AND C.InvoiceNbr = H.InvoiceNbr JOIN Ticket AS T ON H.CustomerPurchaseOrder = T.CustomerPurchaseOrder JOIN CDWClassification AS CC ON CC.EDC = C.EDC JOIN type AS TY ON TY.ManufacturerPartNumber = C.ManufacturerPartNumber WHERE AmountAtADC &gt; 0 AND TY.Type = 3 AND location LIKE '</value>
            </setting>
            <setting name="phoneQuery" serializeAs="String">
                <value>SELECT IMEI, uname, TimeReceived, '1' AS Amount, '1' AS AmountAtADC, SerialNumber, AssetTag, model AS ItemDescription, 'N/A' AS CustomerPurchaseOrder, TicketNumber, location, 'n/a' as Found FROM PhoneHistory WHERE (sent = 0 OR sent IS NULL) AND location LIKE ';</value>
            </setting>
            <setting name="locationQuery" serializeAs="String">
                <value>SELECT location FROM siteMaster WHERE location != '465'</value>
            </setting>
            <setting name="connectionString" serializeAs="String">
                <value>Data Source=covte581;Initial Catalog=ISSReceiving;Integrated Security=true;TrustServerCertificate=true</value>
            </setting>
        </AssetStatusInfo.query>
        <AssetStatusInfo.Settings1>
            <setting name="taggedRoot" serializeAs="String">
                <value>'n/a' AS IMEI, uname, TimeReceived, Amount, AmountAtADC, CC.ItemDescription, T.CustomerPurchaseOrder, TicketNumber, location, C.SerialNumber, AssetTag, 'n/a' as Found FROM History AS H JOIN Ticket AS T ON H.CustomerPurchaseOrder = T.CustomerPurchaseOrder JOIN CDWCommon AS C ON H.SerialNumber = C.SerialNumber JOIN CDWClassification AS CC ON C.EDC = CC.EDC WHERE AmountAtADC &gt; 0 AND H.SerialNumber != 'n/a' AND location LIKE</value>
            </setting>
            <setting name="nonTagged" serializeAs="String">
                <value>SELECT 'n/a' AS IMEI, uname, TimeReceived, Amount, AmountAtADC, CC.ItemDescription, T.CustomerPurchaseOrder, TicketNumber, location, H.SerialNumber, 'n/a' AS AssetTag, 'n/a' as Found FROM CDWCommon AS C JOIN History AS H ON C.CustomerPurchaseOrder = H.CustomerPurchaseOrder AND C.InvoiceLine = H.InvoiceLine AND C.SerialNumber = H.SerialNumber AND C.InvoiceNbr = H.InvoiceNbr JOIN Ticket AS T ON H.CustomerPurchaseOrder = T.CustomerPurchaseOrder JOIN CDWClassification AS CC ON CC.EDC = C.EDC JOIN type AS TY ON TY.ManufacturerPartNumber = C.ManufacturerPartNumber WHERE AmountAtADC &gt; 0 AND TY.Type = 3 AND location LIKE '</value>
            </setting>
            <setting name="phones" serializeAs="String">
                <value>SELECT IMEI, uname, TimeReceived, '1' AS Amount, '1' AS AmountAtADC, SerialNumber, AssetTag, model AS ItemDescription, 'N/A' AS CustomerPurchaseOrder, TicketNumber, location, 'n/a' as Found FROM PhoneHistory WHERE (sent = 0 OR sent IS NULL) AND location LIKE ';</value>
            </setting>
            <setting name="locationQuery" serializeAs="String">
                <value>SELECT location FROM siteMaster WHERE location != '465'</value>
            </setting>
            <setting name="connectionString" serializeAs="String">
                <value>Data Source=covte581;Initial Catalog=ISSReceiving;Integrated Security=true;TrustServerCertificate=true</value>
            </setting>
        </AssetStatusInfo.Settings1>
    </applicationSettings>
    <userSettings>
        <AssetStatusInfo.AllSettings>
            <setting name="GetsStockItems" serializeAs="String">
                <value>//| separated list of locations </value>
            </setting>
            <setting name="CantBeDeliveredTo" serializeAs="String">
                <value>//| separated list of locations that can't be delivered to, for example "All Sites"</value>
            </setting>
            <setting name="NonSearchableFields" serializeAs="String">
                <value>//| separated list of db columns which can't be searched by the user</value>
            </setting>
            <setting name="ColumnFriendlyNameMapping" serializeAs="String">
                <value>//| separated list of comma-separated pairs where the db column name is first and the display name is 2nd</value>
            </setting>
            <setting name="AmountFieldName" serializeAs="String">
                <value>//db field name which matches the count of the item in the warehouse</value>
            </setting>
            <setting name="CompoundLocationList" serializeAs="String">
                <value>//if 1 ship-to location has sublocations, they can be placed here as a | separated list</value>
            </setting>
        </AssetStatusInfo.AllSettings>
    </userSettings>
</configuration>